body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #a92b55, #d1c12d);
    color: #333;
}
.education{
    font-size:0.8em;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-color: rgb(255, 255, 255);
}

#h1{
    font-size: 50px;
    color: red;
}
header {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #000000;
    position: relative;
}

header .photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

header .profile-photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #2c2a1f;
    
}

header h1 {
    margin: 0;
    font-size: 2.1em;
    color: #ff1414;
}

header p {
    margin: 5px 0;
    font-size: 0.8em;
    color: #555;
}

section {
    margin: 20px 0;
}

section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #ff6f61;
    border-bottom: 2px solid #000000;
    padding-bottom: 5px;
}

section p,
section ul {
    margin: 0;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    background: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    color: #555;
}

section ul li p {
    margin: 5px 0;
}

.skills ul li,
.projects ul li {
    background: none;
    border-left: none;
    margin-bottom: 5px;
    font-size: 20px;
}

.contact a {
    color: #ff3318;
    text-decoration: none;
    font-size: 20px;
}

.contact a:hover {
    text-decoration: underline;
}

.small-text {
    font-size: 0.9em;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.skills-list li {
    background: #f9f9f9;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-left: 4px solid #ff6f61;
    color: #555;
}
